<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Sistema de estacionamento</title>
	<link rel="stylesheet" type ="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
	<script th:src="@{/webjars/jquery/3.7.0/jquery.js}"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:fragment="header">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/}">Sistema de estacionamento</a>
		</div>
	</nav>
	<br />
	<br />
	<br />
	<div class="container">
		<div class="row col-md-8 offset-md-2">
			<div class="card">
				<div th:if="${param.success}">
					<div class="alert alert-info">Você foi registrado com sucesso</div>
				</div>
				<div class="card-header">
					<h2 class="text-center">Novo usuário</h2>
				</div>
				<div class="card-body">
					<form th:action="@{/user/save}" method="post" role="form" th:object="${user}">
						<div class="form-group mb-3">
							<label class="form-label">Nome completo</label>
							<input class="form-control"
								   id="lblName"
								   name="lblName"
								   th:field="*{name}"
								   type="text"
							/>
							<p th:errors="*{name}" class="text-danger"
							   th:if="${#fields.hasErrors('name')}">
							</p>
						</div>
						<div class="form-group mb-3">
							<label class="form-label">Email</label>
							<input class="form-control"
								   id="email"
								   name="email"
								   th:field="*{email}"
								   type="email"
							/>
							<p th:errors="*{email}" class="text-danger"
							   th:if="${#fields.hasErrors('email')}">
							</p>
						</div>
						<div class="form-group mb-3">
							<label class="form-label">Senha</label>
							<input class="form-control"
								   id="password"
								   name="password"
								   th:field="*{password}"
								   type="password"
							/>
							<p th:errors="*{password}" class="text-danger"
							   th:if="${#fields.hasErrors('password')}">
							</p>
						</div>

						<div class="form-group mb-3">
							<button class="btn btn-primary" type="submit">Registrar</button>
							<span><a href="/" th:href="@{/login}">Login</a></span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>